@import '../../scss/init';

// Addin
@import '~bootstrap/scss/offcanvas';

// Add styles specific to the header.
header {

  background-color: var(--bs-blue);
  color: var(--bs-white);

  @include make-link($light, none, $pa-sky-light, underline);

  .navbar {
    flex-wrap: wrap;

    & > .container-fluid {
      display: block;
    }
  }

  .navbar-toggler {
    color: $white-out;
    border: 0;

    &:hover, &:active, &:focus {
      border: 0;
      color: var(--bs-blue);
      background-color: var(--bs-cyan);
    }
  }

  .nav-item {
      font-family: $font-family-condensed;
  }

  .navbar-nav {

      .nav-link,
      .nav-link.active,
      .nav-link.show {
          color: $white-out;
      }

      .nav-link {

          &:hover {
            color: $pa-sky-light;
          }

      }

  }

  .nav-actions {
    padding: $nav-link-padding-y;
    font-size: $font-size-sm;

    @include media-breakpoint-down(md) {
      display: block;
      width: 100%;
      background-color: $beaver-blue;
      padding: var(--bs-navbar-padding-y) $grid-gutter-width;
    }

    @include media-breakpoint-up('lg') {
      font-size: $font-size-base;
    }
  }

  // Forcing the main menu to display as a row.
  .nav-main-menu-container .navbar-nav {
    flex-direction: row;
  }

  .region-nav-additional {
      font-size: $font-size-sm;
  }

  .block-search {
    form {
      display: flex;
      flex-direction: column;
      text-align: center;

      @include media-breakpoint-up(sm) {
        flex-direction: row;
      }

      .form-actions {
        margin-top: divide($spacer, 2);
        @include media-breakpoint-up(md) {
          margin-left: divide($spacer, 2);
          margin-top: 0;
        }
      }
    }
  }


  @include media-breakpoint-down(md) {
    .navbar {
      padding-bottom: 0;
    }

    .nav-main-menu-container {
      padding-left: 0;
      padding-right: 0;
      margin-top: var(--bs-navbar-padding-y);
    }
  }

}

.navbar-nav {

  .nav-link {
    padding-left: $navbar-nav-link-padding-x;
    padding-right: $navbar-nav-link-padding-x;

    &.dropdown-toggle {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  .dropdown:hover .dropdown-menu {
    display: block;
  }

  .dropdown-menu {
      animation: .5s slideup;
    }

  @keyframes slideup {
    from {
      transform: translateY(25px);
    }
    to {
      transform: translateY(0);
    }
  }
}

.navbar-brand {
  white-space: unset;
  @include make-link($light, none, $light, underline, '.site-title');
  flex-shrink: 1;

  .site-slogan {
    display: none;
    font-size: $navbar-brand-site-slogan-font-size;
    @include media-breakpoint-up(lg) {
      display: block;
    }
  }

  .site-title {
    font-size: $navbar-brand-site-title-font-size;
    font-weight: $navbar-brand-site-title-font-weight;
    letter-spacing: $navbar-brand-site-title-letter-spacing;
    text-transform: $navbar-brand-site-title-text-transform;
  }

  img {
    height: $navbar-brand-image-height;
    margin: 0;
    width: $navbar-brand-image-width;
    @include media-breakpoint-up(lg) {
      margin: $navbar-brand-image-margin;
      height: $navbar-brand-image-height-lg;
    }
  }

  img {
    height: auto;
    margin: 0;
    width: 75%;
    max-width: 228px;
    @include media-breakpoint-up(lg) {
      width: $navbar-brand-image-width;
      max-width: $navbar-brand-image-width;
      margin: $navbar-brand-image-margin;
      height: $navbar-brand-image-height-lg;
    }
  }
}
