@import '../../scss/init';

// Addin
@import '~bootstrap/scss/offcanvas';

// Add styles specific to the header.
header {

  background-color: var(--bs-blue);
  color: var(--bs-white);

  @include make-link($light, none, $pa-sky-light, underline);

  .navbar {
    // Overriding the navbar padding. Not 100% sure why.
    --bs-navbar-padding-y: 0px;
    flex-wrap: wrap;

    &>.container-fluid {
      display: block;
    }
  }

  .navbar-toggler {
    color: $white-out;
    border: 0;

    &:hover,
    &:active,
    &:focus {
      border: 0;
      color: var(--bs-blue);
      background-color: var(--bs-cyan);
    }
  }

  .nav-item {
    font-family: $font-family-condensed;
  }

  .navbar-nav {

    .nav-link,
    .nav-link.active,
    .nav-link.show {
      color: $white-out;
    }

    .nav-link {

      &:hover {
        color: $pa-sky-light;
      }

    }

  }

  .nav-actions {
    padding: 0 $nav-link-padding-y;
    font-size: $font-size-sm;

    @include media-breakpoint-down(md) {
      display: block;
      width: 100%;
      background-color: $beaver-blue;
      padding: $nav-link-padding-y $grid-gutter-width;
    }

    @include media-breakpoint-up('lg') {
      font-size: $font-size-base;
    }
  }

  // Forcing the main menu to display as a row.
  .nav-main-menu-container .navbar-nav {
    flex-direction: row;
  }

  .region-nav-additional {
    font-size: $font-size-sm;
  }

  .block-search {
    form {
      display: flex;
      flex-direction: column;
      text-align: center;

      @include media-breakpoint-up(sm) {
        flex-direction: row;
      }

      .form-actions {
        margin-top: divide($spacer, 2);

        @include media-breakpoint-up(md) {
          margin-left: divide($spacer, 2);
          margin-top: 0;
        }
      }
    }
  }


  @include media-breakpoint-down(md) {
    .navbar {
      padding-bottom: 0;
    }

    .nav-main-menu-container {
      padding-left: 0;
      padding-right: 0;
      margin-top: var(--bs-navbar-padding-y);
    }
  }

  .block-menu.menu--main .navbar-nav {
    gap: 40px;

    .dropdown-menu {
      padding: 20px 10px;
      left: 0;
      top: 100%;
      animation: none;
      border-top: 7px solid $pa-link-light;

      @include media-breakpoint-up('md') {
        position: absolute;
      }
    }

    li {
      position: relative;

      .link-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      a {
        padding: 0 0 15px 0;
        font-size: $font-size-sm;
        font-weight: 500;
        font-family: $font-family-condensed;

        &:hover {
          color: $pa-link-light;
          text-decoration: none;
        }

        &.dropdown-item {
          padding: 3px 10px;
          border-radius: 4px;
          border-color: transparent;
          margin: 5px;

          &:hover {
            color: $primary-color;
            background-color: #ccc;
            border-color: #ccc;
          }
        }

        @include media-breakpoint-up('lg') {
          font-size: $font-size-base;
        }
      }

      .dropdown-arrow {
        cursor: pointer;
        display: block;
        margin-top: -16px;
        padding-left: 10px;

        svg {
          width: 16px;
          height: 16px;
        }
      }

      .dropdown-menu {
        display: none;
        max-height: 0;
        opacity: 0;
        transition: max-height 0.3s ease, opacity 0.3s ease;
        width: 300px
      }

      &.show .dropdown-menu {
        display: block;
        max-height: 1200px;
        opacity: 1;
      }
    }

    @include media-breakpoint-up(md) {
      .dropdown:hover>.dropdown-menu {
        display: block;
      }
    }
  }

  /**
   * Top bar navigation with 'my acct', etc
   */
  ul[data-block="nav_additional"] {
    text-transform: uppercase;

    // @todo make this an actual button variant.
    a.btn.button.btn-primary.btn-nav-additional.nav-link {
      font-size: 15.75px;
      border-radius: 30px;
      border-color: $psu-light-blue;
      margin: 7px 10px;
      padding: 0 20px;
      text-transform: none;
      font-family: $font-family-sans-serif;
      font-weight: 400;

      &:hover {
        text-decoration: none;
        border-color: $navy-blue;
        background-color: $navy-blue;
        color: white;
      }
    }
  }

}

.navbar-nav {

  .nav-link {
    padding-left: $navbar-nav-link-padding-x;
    padding-right: $navbar-nav-link-padding-x;

    &.dropdown-toggle {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .dropdown:hover .dropdown-menu {
    display: block;
  }

  .dropdown-menu {
    animation: none;
  }

  @keyframes slideup {
    from {
      transform: translateY(25px);
    }

    to {
      transform: translateY(0);
    }
  }
}

.navbar-brand {
  white-space: unset;
  @include make-link($light, none, $light, underline, '.site-title');
  flex-shrink: 1;

  .site-slogan {
    display: none;
    font-size: $navbar-brand-site-slogan-font-size;

    @include media-breakpoint-up(lg) {
      display: block;
    }
  }

  .site-title {
    font-size: $navbar-brand-site-title-font-size;
    font-weight: $navbar-brand-site-title-font-weight;
    letter-spacing: $navbar-brand-site-title-letter-spacing;
    text-transform: $navbar-brand-site-title-text-transform;
  }

  img {
    height: $navbar-brand-image-height;
    margin: 0;
    width: $navbar-brand-image-width;

    @include media-breakpoint-up(lg) {
      margin: $navbar-brand-image-margin;
      height: $navbar-brand-image-height-lg;
    }
  }

  img {
    height: auto;
    margin: 0;
    width: 75%;
    max-width: 228px;

    @include media-breakpoint-up(lg) {
      width: $navbar-brand-image-width;
      max-width: $navbar-brand-image-width;
      margin: $navbar-brand-image-margin;
      height: $navbar-brand-image-height-lg;
    }
  }
}

// @todo origanize this garbage.

/**
 * Header styles
 * @todo Port these to the base theme.
 */
.offcanvas__main {

  ul {
    background-color: transparent;
    border: 0;

    li.nav-item {
      a {
        font-weight: bold;

        &.is-active,
        &.active {
          color: black;

          &:before {
            content: "";
            position: absolute;
            left: -5px;
            top: 50%;
            transform: translateY(-50%);
            height: 25px;
            width: 50%;
            border-left: 5px solid $psu-light-blue;
          }
        }
      }
    }
  }

  .link-container {
    position: relative;

    span.dropdown-arrow {
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
    }
  }

  nav ul.navbar-nav {

    a,
    a.button {
      word-wrap: break-word;
      text-align: left;
      text-decoration: none;
      color: $black;
      display: block;
      background-color: transparent;
      border: 0;
    }

    .dropdown-menu {
      border: 0;
      padding: 0;
      margin: 0;

      .dropdown-item {
        white-space: normal;
      }
    }
  }
}

header,
.offcanvas__main {

  /* Common styles for dropdown arrow */
  .dropdown-arrow {
    cursor: pointer;
    transition: transform 0.3s ease;

    svg {
      transition: transform 0.3s ease;
    }
  }

  /* Navigation dropdown behavior */
  .navbar-nav {
    .dropdown-menu {
      max-height: 0;
      opacity: 0;
      overflow: hidden;
      transition: max-height 0.3s ease, opacity 0.3s ease;

      .dropdown-menu {
        display: none;
      }
    }

    .dropdown.show>.dropdown-menu,
    .dropdown.show>.dropdown-menu>.dropdown.show>.dropdown-menu {
      display: block;
      max-height: 1200px;
      opacity: 1;
    }
  }

  /* Desktop Navigation dropdown behavior */
  @include media-breakpoint-up('md') {
    .navbar-nav {
      .dropdown-menu {
        display: none;
        max-height: none;
        opacity: 1;
        transition: none;
      }

      .dropdown:hover .dropdown-menu {
        display: block;
      }

      .dropdown:hover .dropdown-arrow svg {
        transform: rotate(180deg);
      }
    }
  }

}

/* Special rule to hide the bs dropdown arrows */
header a.nav-link.dropdown-toggle::after,
.offcanvas__main a.nav-link.dropdown-toggle::after {
  display: none !important;
  content: "";
  border: 0;
}
