@import '../../scss/init';

// Addin
@import 'bootstrap/scss/offcanvas';

// Add styles specific to the header.
header {
  background-color: var(--bs-blue);
  color: var(--bs-white);

  @include make-link($light, none, $pa-sky-light, underline);

  // General Navbar Styles.
  .navbar {
    // Overriding the navbar padding. Not 100% sure why.
    --bs-navbar-padding-y: 0px;
    flex-wrap: wrap;
  }

  .navbar-toggler {
    color: $white-out;
    border: 0;

    &:hover,
    &:active,
    &:focus {
      border: 0;
      color: var(--bs-blue);
      background-color: var(--bs-cyan);
    }
  }

  .nav-item {
    font-family: $font-family-condensed;
  }

  .navbar-nav {

    .nav-link:not(.btn) {
      color: $white-out;

      &.active,
      &.show {
        color: $white-out;
      }

      &:hover {
        color: $pa-sky-light;
      }
    }

    .nav-link.btn:hover {
      text-decoration: none;
    }
  }

  .nav-actions {
    padding: 0 $nav-link-padding-y;
    font-size: $font-size-sm;

    @include media-breakpoint-down(md) {
      display: flex;
      width: 100%;
      background-color: $beaver-blue;
      padding: $nav-link-padding-y $grid-gutter-width;
    }

    @include media-breakpoint-up('lg') {
      font-size: $font-size-base;
    }
  }

  // Setting search and menu button positioning.  This is absolute on mobile
  // so that it option site-title can be full width.
  .header--nav-search {
    position: absolute;
    display: flex;
    align-items: center;
    right: $container-padding-x;
    top: 13.5px;

    @include media-breakpoint-up(md) {
      position: static;
    }
  }

  .region-nav-additional {
    font-size: $font-size-sm;
  }

  .block-search {
    form {
      display: flex;
      flex-direction: column;
      text-align: center;

      @include media-breakpoint-up(sm) {
        flex-direction: row;
      }

      .form-actions {
        margin-top: divide($spacer, 2);

        @include media-breakpoint-up(md) {
          margin-left: divide($spacer, 2);
          margin-top: 0;
        }
      }
    }
  }

  /**
   * Top bar navigation with 'my acct', etc
   */
  ul[data-block="nav_additional"] {
    text-transform: uppercase;

    // There is a btn-navlink button variant but we cannot use it because the
    // bootstrap navbar styles are overriding it.
    a.btn.btn-nav-additional.nav-link {
      margin: 7px 10px;
      padding: var(--#{$prefix}btn-padding-y) var(--#{$prefix}btn-padding-x);
    }
  }

  /* Common styles for dropdown arrow */
  .dropdown-arrow {
    cursor: pointer;
    transition: transform 0.3s ease;

    svg {
      transition: transform 0.3s ease;
    }
  }

  /* Navigation dropdown behavior */
  .navbar-nav {
    .dropdown-menu {
      max-height: 0;
      opacity: 0;
      overflow: hidden;
      transition: max-height 0.3s ease, opacity 0.3s ease;

      .dropdown-menu {
        display: none;
      }
    }

    .dropdown.show>.dropdown-menu,
    .dropdown.show>.dropdown-menu>.dropdown.show>.dropdown-menu {
      display: block;
      max-height: 1200px;
      opacity: 1;
    }
  }

  /* Desktop Navigation dropdown behavior */
  @include media-breakpoint-up('md') {
    .navbar-nav {
      .dropdown-menu {
        display: none;
        max-height: none;
        opacity: 1;
        transition: none;
      }

      .dropdown:hover .dropdown-menu {
        display: block;
      }

      .dropdown:hover .dropdown-arrow svg {
        transform: rotate(180deg);
      }
    }
  }

  /* Mobile Navigation dropdown behavior */
  @include media-breakpoint-down(md) {
    .navbar {
      padding-bottom: 0;
    }

    .nav-main-menu-container {
      padding-left: 0;
      padding-right: 0;
      margin-top: var(--bs-navbar-padding-y);
    }
  }

}
