// Generate a styled link.
@mixin make-link(
  $a-link-color: $link-color,
  $a-link-decoration: $link-decoration,
  $a-link-hover-color: $link-hover-color,
  $a-link-hover-decoration: $link-decoration,
  $target-class: '') {
  a#{$target-class}:not(.btn) {
    color: $a-link-color;
    text-decoration: $a-link-decoration;

    &:hover {
      color: $a-link-hover-color;
      text-decoration: $a-link-hover-decoration;
    }
  }
}

// Add a search icon to a search button.
@mixin search-form-icon {
  content: '\F52A';
  padding-right: 1rem;
  font-family: "bootstrap-icons";
  vertical-align: bottom;
}

@mixin light-text {
  color: #fff;
  --bs-body-color: #{$white-out};
  --bs-heading-color: #{$white-out};
  --bs-link-color: #{$pa-link-light};
  --bs-link-color-rgb: #{$pa-link-light};
  --bs-link-hover-color: #{$white-out};
  --bs-link-hover-color-rgb: #{$white-out};
}
