.ck-content {
  @import './style.scss';
  @import '../components/button/button.scss';
  @import '../components/media/media.scss';

  // WYSIWYG Media style fixes.
  figure.drupal-media {
    width: 100%;

    &.drupal-media-style-align-center {
      width: 90%;
    }

    &.drupal-media-style-align-left,
    &.drupal-media-style-align-right {
      width: 50%;
    }

  }

}
