@import 'variables_drupal';
@import 'variables_bootstrap';

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "bootstrap/scss/functions";

// 2. Include any default variable overrides here
@import 'colors';

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/root";

@import "base/google_fonts";

// 6. Optionally include any other parts as needed
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/tables";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
@import "bootstrap/scss/helpers";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "bootstrap/scss/utilities/api";

// 8. Import base styles from theme.
@import 'mixins';
@import 'base/theme';
@import 'base/layout';
@import 'base/forms';
@import 'base/links';
@import 'base/typography';
@import 'base/indent';
@import 'base/full_bleed';
@import 'base/misc';

// 9. Import component styles.
@import 'components/file';
@import 'components/nav';
@import '../components/header/header';
@import '../components/header_mark/header_mark';
@import '../components/header_nav/header_nav';
@import '../components/sidebar_menu/sidebar_menu';
@import '../components/footer/footer';
@import '../components/breadcrumbs/breadcrumbs';
@import '../components/button/button';
@import '../components/divider/divider';
@import 'components/general';


// 10.  Bootstrap fixes for Drupal.
@import 'bootstrap_fix';

header {
  .btn-outline-light {
    color: #fff;

    &:hover {
      color: $nittany-navy;
    }
  }
}

// Adding Ask A Librarian button styles.
.ask {
  display: none;
}

@media only screen and (min-width: 768px) {
  .ask {
    display: block;
    position: fixed;
    padding: 0;
    right: -2px;
    top: 65%;
    z-index: 10;
    box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.57);
    cursor: pointer;
  }
  .ask button {
    color: #fafafa;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 0;
    padding: 0;
  }
  .ask__part1 {
    font-size: 2rem;
  }
}

// Header hours style changes.
header .psul-hours {
  font-family: $font-family-condensed;
  a {
    color: #fff;
  }
}

a.button.btn-primary.btn-nav-additional.nav-link {
  --bs-btn-color: #cce9ff;
  --bs-btn-bg: #001e44;
  --bs-btn-border-color: #cce9ff;
  --bs-btn-hover-color: #001e44;
  --bs-btn-hover-bg: #cce9ff;
  --bs-btn-hover-border-color: #cce9ff;
  --bs-btn-focus-shadow-rgb: 204, 233, 255;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: rgb(51, 75, 105.4);
  --bs-btn-active-border-color: rgb(209.1, 235.2, 255);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #001e44;
  --bs-btn-disabled-border-color: #cce9ff;
  --bs-btn-padding-x: 20px;
  --bs-btn-padding-y: 0;
  font-size: 1rem;
  border: 2px solid #cce9ff;
  border-radius: 30px;
  text-transform: none;
  font-family: Roboto, "Franklin Gothic Medium", Tahoma, sans-serif;
  font-weight: 400;

  &:hover {
    color: var(--bs-btn-hover-color);
  }
}
