node_modules
*LICENSE.txt
.vscode
.DS_Store

# Compiled assets
mix-manifest.json
css/style.css
js/application.js
dist/*
components/*/*.css
components/*/*.map
components/*/*.js
.vite

*storybook.log
storybook-static
