@import '../../scss/init';

// Breadcrumb styling
@import "bootstrap/scss/card";

// Nav card light variant mixin.
@mixin card-type-nav-light {
  --#{$prefix}card-bg: #{$pa-limestone-light};
  --#{$prefix}card-color: #{$nittany-navy};

  &:hover,
  &:focus {
    --#{$prefix}card-bg: #{$pa-sky-max-light};
  }

  .card-title {
    @include make-link($nittany-navy, none, $nittany-navy, none);
  }

  .psul-icon svg {
    --psul-icon-color: $nittany-navy;
  }

  .badge.text-bg-light {
    --#{$prefix}light-rgb: var(--bs-primary-rgb);
    color: $white !important;
  }
}

// SDC Styles Improperly load after the style.css main file so we need to add
// another class to increase selector specificity.
.card.card-card {
  $card-body-spacing: $spacer * 1.5;
  // Add shadows.
  --#{$prefix}card-box-shadow: #{$box-shadow-sm};
  --#{$prefix}card-border-width: 0px;
  --#{$prefix}card-border-radius: #{$border-radius-lg};
  --#{$prefix}card-spacer-y: #{$card-body-spacing};
  --#{$prefix}card-spacer-x: #{$card-body-spacing};
  --#{$prefix}card-text-align: center;
  --#{$prefix}card-color: #{$body-color};
}

// Set card image border radius to match card border radius.
.card {
  transition: box-shadow 0.2s ease-out;
  text-align: var(--#{$prefix}card-text-align);
  box-shadow: var(--#{$prefix}card-box-shadow);

  &-title {
    font-size: $font-size-lg;
    color: $body-color;
    font-weight: $font-weight-bold;
    margin-bottom: $spacer;

    @include make-link($body-color, none, $black, underline);

    a {
      transition: color, text-decoration 0.2s ease-out;
    }
  }

  &-subtitle {
    font-size: $font-size-sm;
  }

  &-body {
    text-align: var(--#{$prefix}card-text-align);
    display: flex;
    gap: $spacer * 0.5;
    flex-flow: column;
    flex-direction: column;

    // .card-title,
    p:last-child {
      margin-bottom: 0;
    }
  }

  &--linked {
    &:hover,
    &:focus {
      --#{$prefix}card-box-shadow: #{$box-shadow2};
    }
  }

  &--image-top img {
    border-top-right-radius: var(--#{$prefix}card-border-radius);
    border-top-left-radius: var(--#{$prefix}card-border-radius);
    border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 100%;
  }

  &--image-bottom img {
    border-top-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: var(--#{$prefix}card-border-radius);
    border-bottom-left-radius: var(--#{$prefix}card-border-radius);
    width: 100%;
  }

  &--image-overlays img {
    border-radius: var(--#{$prefix}card-border-radius);
  }

  .media {
    margin-bottom: 0;
  }

  &-link:not(.btn) {
    --#{$prefix}link-color-rgb: #{$link-color};
    --#{$prefix}link-hover-color-rgb: #{$link-color};
    margin-left: 0;
    margin-top: $spacer * 0.5;
    color: var(--bs-link-color-rgb);
    text-decoration: none;
    font-weight: $font-weight-medium;

    &:hover {
      text-decoration: underline;
    }
  }
}

////////////
// Variants.

.card {
  // Card text should be left aligned.
  &.card-type-left {
    --#{$prefix}card-text-align: start;
  }

  // News Card
  &.card-type-news {
    --#{$prefix}card-text-align: start;
    --#{$prefix}card-box-shadow: none;
    --#{$prefix}card-border-width: 0;
    --#{$prefix}card-border-radius: 0;
    --#{$prefix}card-spacer-y: $spacer;
    --#{$prefix}card-spacer-x: 0;

    position: relative;
    display: flex;
    flex-flow: column;
    gap: $spacer;
    text-align: start;

    .card-title {
      font-size: $font-size-base;
      @include make-link($link-color, none, $link-hover-color, underline);
      margin-bottom: 0;

      @include media-breakpoint-up(md) {
        font-size: $font-size-lg;
      }
    }

    .card-body {
      font-weight: 700;
      gap: $spacer;
    }

    .card-cta {
      margin-top: $spacer * 2;
      text-align: center;
    }
  }

  &.card--text {
    --#{$prefix}card-bg: transparent;
    --#{$prefix}card-spacer-y: 0;
    --#{$prefix}card-spacer-x: 0;
    --#{$prefix}card-box-shadow: 0;
    --#{$prefix}card-text-align: start;

    margin-bottom: $spacer * 1.5;

    &:hover,
    &:focus {
      --#{$prefix}card-box-shadow: none;
    }

    .card-link.btn {
      margin-top: $spacer * .5;
    }
  }

  // Campus Card.
  &.card-type-campus {
    --#{$prefix}card-text-align: start;

    img {
      border-bottom: 12px solid var(--#{$prefix}primary);
    }
  }

  // Call to Action
  &.card--cta {
    $card-body-spacing: $spacer * 1.25;

    --#{$prefix}card-bg: #{$nittany-navy};
    --#{$prefix}card-color: #{$white};
    --#{$prefix}card-spacer-y: #{$spacer};
    --#{$prefix}card-spacer-x: #{$spacer};
    --#{$prefix}card-box-shadow: none;

    transition-property: background-color, transform;
    min-height: 160px;

    @include make-link($white, none, $white, underline);
    .card-title {
      @include make-link($white, none, $white, underline);
    }

    &:hover,
    &:focus {
      --#{$prefix}card-bg: #{$beaver-blue};
      --#{$prefix}card-box-shadow: none;
      transform: scale(1.019);
    }

    .card-body {
      color: $white;
      text-align: unset;
      display: flex;
      flex-flow: column;
      justify-content: flex-end;
    }
  }

  &.card-type-icon {
    .card-body {
      padding: ($spacer * 2) ($spacer * 1.5);
      gap: $spacer;

      @include media-breakpoint-up(lg) {
        padding: ($spacer * 2.25) ($spacer * 1.75);
      }
    }

    .psul-icon {
      width: 60px;
      height: 60px;
      margin-left: auto;
      margin-right: auto;
    }

    .card-title {
      margin-bottom: 0;
    }
  }

  &.card-type-nav {
    --#{$prefix}card-color: #{$white};
    --#{$prefix}card-bg: #{$nittany-navy};
    --#{$prefix}card-box-shadow: none;
    --#{$prefix}card-text-align: start;
    transition: transform 0.2s ease-out;
    display: flex;
    padding: ($spacer * 1.25);
    min-height: 200px;


    flex-flow: row;
    align-items: flex-start;
    -webkit-box-pack: justify;
    justify-content: space-between;

    &:hover,
    &:focus {
      --#{$prefix}card-bg: #{$beaver-blue};
      transform: scale(1.019);
    }

    .card-title {
      @include make-link($white, none, $white, none);
    }

    .card-body {
      gap: $spacer;
      padding: 0;
      margin-top: auto;
    }

    .psul-icon {
      width: 24px;
      height: 24px;
      margin-top: auto;
      @include media-breakpoint-up(md) {
        width: 28px;
        height: 28px;
      }
    }

    .badge {
      --#{$prefix}badge-font-size: .875em;
    }

    .card-title {
      margin-bottom: 0;
    }

    /* Nav Card Light Variant Styles */
    &.card-type-nav--light {
      @include card-type-nav-light;
    }
  }


  // Style variant for search results cards.
  &.card--search-results {
    --#{$prefix}card-border-width: 1px;
    --#{$prefix}card-spacer-y: #{$spacer};
    --#{$prefix}card-spacer-x: #{$spacer};
    --#{$prefix}card-text-align: start;
    --#{$prefix}card-border-radius: 0;

    border-top-width: 0;
    @include make-link($link-color, none, $link-hover-color, underline);

    &:before {
      border: 5px solid $pa-sky !important;
      border-bottom-width: 0;
      content: '';
      margin: calc(-1 * var(--#{$prefix}card-border-width));
      margin-bottom: 0;
    }

    .card-header {
      text-transform: uppercase;
      border-bottom-width: 1px;
      background-color: $white-out;

      h2 {
        font-size: $font-size-base;
        margin-bottom: 0;
      }
    }

    .card-footer {
      background-color: $pa-limestone-max-light;
      border-top: 0;
      font-size: $font-size-base;
    }
  }
}

.card-link.btn {
  margin-left: 0;
}

/* Force Navcard light for cards with dark backgrounds. */
.text-bg-primary,
.bg-primary,
.full-bleed--navy {
  .card-type-nav {
    @include card-type-nav-light;
  }
}
