@import '../../scss/init';

// Breadcrumb styling
@import "bootstrap/scss/card";

.card--search-results {
  border-top-width: 0;
  @include make-link($link-color, none, $link-hover-color, underline);

  &:before {
    border: 5px solid $pa-sky !important;
    border-bottom-width: 0;
    content: '';
    margin: calc(-1 * var(--bs-border-width));
    margin-bottom: 0;
  }

  .card-header {
    text-transform: uppercase;
    border-bottom-width: 1px;
    background-color: $white-out;

    h2 {
      font-size: $font-size-base;
      margin-bottom: 0;
    }
  }

  .card-footer {
    background-color: $pa-limestone-max-light;
    border-top: 0;
    font-size: $font-size-base;
  }
}

.card-link.btn {
  margin-left: 0;
}
