@use "sass:map";
@import '../../../../../themes/contrib/psulib_base/scss/init';

// Adding menu block heading styles.
.block-menu:has(.sidebar-menu) .block-menu--title {
  text-transform: uppercase;
  font-family: $font-family-condensed;
  font-size: $font-size-lg;
  @include make-link(black, none, $pa-link, none);
}

.sidebar-menu {
  $mobile-link-color: black;
  $mobile-link-background-color: transparent;
  $mobile-link-is-active-color: $pa-link;
  $mobile-link-is-active-background-color: transparent;

  .navbar-nav {
    font-family: $font-family-condensed;
    position: relative;

    .dropdown>.link-container>a {
      padding-right: 20px;
    }

    .dropdown-menu {
      background-color: transparent;
      border: 0;
      padding: 0;
      padding-left: $spacer * .75;
      margin: 0;
      animation: none;

      .dropdown-item {
        white-space: normal;
      }
    }

    .dropdown-item {
      padding-left: 0;
    }

    .dropdown:hover .dropdown-menu {
      display: none;
    }

    a,
    a.button {
      word-wrap: break-word;
      text-align: left;
      text-decoration: none;
      color: $mobile-link-color;
      display: block;
      background-color: $mobile-link-background-color;
      border: 0;

      &:hover {

        color: $pa-link;
      }
    }

    li.menu-level-0 {

      // First main parent links.
      a {

        &.is-active,
        &.active {
          position: relative;
          color: black;

          &:before {
            content: "";
            position: absolute;
            left: -5px;
            top: 50%;
            transform: translateY(-50%);
            height: calc(100% - 20px);
            width: 50%;
            border-left: 5px solid $psu-light-blue;
          }
        }
      }

      >a,
      >div>a {
        font-weight: 500;
      }
    }

    li:not(.menu-level-0) {
      position: relative;
      margin-left: 5px;

      &.in-active-trail {
        font-weight: bold;

        .active {
          color: $pa-link;

          &:before {
            border-left: 0;
          }
        }
      }
    }

    .dropdown-menu {
      overflow: hidden;

      .dropdown-menu {
        display: none;
      }
    }

    .dropdown.show>.dropdown-menu {
      display: block;
    }

    .link-container {
      position: relative;
    }

    span.dropdown-arrow {
      position: absolute;
      right: 0;
      top: 22px;
      cursor: pointer;
      width: 16px;
      height: 16px;
      transform: translateY(-50%);

      svg {
        display: block;
      }
    }

    .link-container {
      svg {
        transform: rotate(0);
        transition: all 0.1s linear;
      }
    }

    .show>.link-container svg {
      transform: rotate(180deg);
      transition: all 0.1s linear;
    }

  }

  /* Special rule to hide the bs dropdown arrows. */
  a.dropdown-toggle::after {
    display: none !important;
    content: "";
    border: 0;
  }
}
