<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Button Examples</title>
    <link rel="stylesheet" href="../../dist/css/style.css">
    <link rel="stylesheet" href="button.css">
  </head>
  <body class="">
    <h1>Buttons Examples</h1>
    <div class="full-bleed full-bleed--navy">
      <p>
        <a href="#" class="btn btn-primary">Button Text</a>
        <a href="#" class="btn btn-primary btn-round">Button Text</a>
        <a href="#" class="btn btn-primary btn-square">Button Text</a>
      </p>
      <p>
        <a href="#" class="btn btn-primary btn-lg">Button Text</a>
        <a href="#" class="btn btn-primary btn-sm">Button Text</a>
        <a href="#" class="btn btn-primary btn-navlink">Button Text</a>
      </p>
      <p>
        <a href="#" class="btn btn-secondary">Button Text</a>
        <a href="#" class="btn btn-secondary btn-round">Button Text</a>
        <a href="#" class="btn btn-secondary btn-square">Button Text</a>
      </p>
      <p>
        <a href="#" class="btn btn-secondary btn-lg">Button Text</a>
        <a href="#" class="btn btn-secondary btn-sm">Button Text</a>
        <a href="#" class="btn btn-secondary btn-navlink">Button Text</a>
      </p>
      <p>
        <a href="#" class="btn btn-light">Button Text</a>
        <a href="#" class="btn btn-light btn-round">Button Text</a>
        <a href="#" class="btn btn-light btn-square">Button Text</a>
      </p>
      <p>
        <a href="#" class="btn btn-light btn-lg">Button Text</a>
        <a href="#" class="btn btn-light btn-sm">Button Text</a>
        <a href="#" class="btn btn-light btn-navlink">Button Text</a>
      </p>
      <p>
        <a href="#" class="btn btn-outline-primary">Button Text</a>
        <a href="#" class="btn btn-outline-primary btn-round">Button Text</a>
        <a href="#" class="btn btn-outline-primary btn-square">Button Text</a>
      </p>
      <p>
        <a href="#" class="btn btn-outline-primary btn-lg">Button Text</a>
        <a href="#" class="btn btn-outline-primary btn-sm">Button Text</a>
        <a href="#" class="btn btn-outline-primary btn-navlink">Button Text</a>
      </p>
      <p>
        <a href="#" class="btn btn-outline-secondary">Button Text</a>
        <a href="#" class="btn btn-outline-secondary btn-square">Button Text</a>
        <a href="#" class="btn btn-outline-secondary btn-round">Button Text</a>
      </p>
      <p>
        <a href="#" class="btn btn-outline-secondary btn-lg">Button Text</a>
        <a href="#" class="btn btn-outline-secondary btn-sm">Button Text</a>
        <a href="#" class="btn btn-outline-secondary btn-navlink">Button Text</a>
      </p>
      <p>
        <a href="#" class="btn btn-outline-light">Button Text</a>
        <a href="#" class="btn btn-outline-light btn-round">Button Text</a>
        <a href="#" class="btn btn-outline-light btn-square">Button Text</a>
      </p>
      <p>
        <a href="#" class="btn btn-outline-light btn-lg">Button Text</a>
        <a href="#" class="btn btn-outline-light btn-sm">Button Text</a>
        <a href="#" class="btn btn-outline-light btn-navlink">Button Text</a>
      </p>
    </div>

    <div class="full-bleed full-bleed--limestone-light">
      <p>
        <a href="#" class="btn btn-primary">Button Text</a>
        <a href="#" class="btn btn-primary btn-round">Button Text</a>
        <a href="#" class="btn btn-primary btn-square">Button Text</a>
      </p>
      <p>
        <a href="#" class="btn btn-primary btn-lg">Button Text</a>
        <a href="#" class="btn btn-primary btn-sm">Button Text</a>
        <a href="#" class="btn btn-primary btn-navlink">Button Text</a>
      </p>
      <p>
        <a href="#" class="btn btn-secondary">Button Text</a>
        <a href="#" class="btn btn-secondary btn-round">Button Text</a>
        <a href="#" class="btn btn-secondary btn-square">Button Text</a>
      </p>
      <p>
        <a href="#" class="btn btn-secondary btn-lg">Button Text</a>
        <a href="#" class="btn btn-secondary btn-sm">Button Text</a>
        <a href="#" class="btn btn-secondary btn-navlink">Button Text</a>
      </p>
      <p>
        <a href="#" class="btn btn-light">Button Text</a>
        <a href="#" class="btn btn-light btn-round">Button Text</a>
        <a href="#" class="btn btn-light btn-square">Button Text</a>
      </p>
      <p>
        <a href="#" class="btn btn-light btn-lg">Button Text</a>
        <a href="#" class="btn btn-light btn-sm">Button Text</a>
        <a href="#" class="btn btn-light btn-navlink">Button Text</a>
      </p>
      <p>
        <a href="#" class="btn btn-outline-primary">Button Text</a>
        <a href="#" class="btn btn-outline-primary btn-round">Button Text</a>
        <a href="#" class="btn btn-outline-primary btn-square">Button Text</a>
      </p>
      <p>
        <a href="#" class="btn btn-outline-primary btn-lg">Button Text</a>
        <a href="#" class="btn btn-outline-primary btn-sm">Button Text</a>
        <a href="#" class="btn btn-outline-primary btn-navlink">Button Text</a>
      </p>
      <p>
        <a href="#" class="btn btn-outline-secondary">Button Text</a>
        <a href="#" class="btn btn-outline-secondary btn-square">Button Text</a>
        <a href="#" class="btn btn-outline-secondary btn-round">Button Text</a>
      </p>
      <p>
        <a href="#" class="btn btn-outline-secondary btn-lg">Button Text</a>
        <a href="#" class="btn btn-outline-secondary btn-sm">Button Text</a>
        <a href="#" class="btn btn-outline-secondary btn-navlink">Button Text</a>
      </p>
      <p>
        <a href="#" class="btn btn-outline-light">Button Text</a>
        <a href="#" class="btn btn-outline-light btn-round">Button Text</a>
        <a href="#" class="btn btn-outline-light btn-square">Button Text</a>
      </p>
      <p>
        <a href="#" class="btn btn-outline-light btn-lg">Button Text</a>
        <a href="#" class="btn btn-outline-light btn-sm">Button Text</a>
        <a href="#" class="btn btn-outline-light btn-navlink">Button Text</a>
    </div>

    <div class="full-bleed full-bleed--slate-light">
      <p>
        <a href="#" class="btn btn-primary">Button Text</a>
        <a href="#" class="btn btn-primary btn-round">Button Text</a>
        <a href="#" class="btn btn-primary btn-square">Button Text</a>
      </p>
      <p>
        <a href="#" class="btn btn-primary btn-lg">Button Text</a>
        <a href="#" class="btn btn-primary btn-sm">Button Text</a>
        <a href="#" class="btn btn-primary btn-navlink">Button Text</a>
      </p>
      <p>
        <a href="#" class="btn btn-secondary">Button Text</a>
        <a href="#" class="btn btn-secondary btn-round">Button Text</a>
        <a href="#" class="btn btn-secondary btn-square">Button Text</a>
      </p>
      <p>
        <a href="#" class="btn btn-secondary btn-lg">Button Text</a>
        <a href="#" class="btn btn-secondary btn-sm">Button Text</a>
        <a href="#" class="btn btn-secondary btn-navlink">Button Text</a>
      </p>
      <p>
        <a href="#" class="btn btn-light">Button Text</a>
        <a href="#" class="btn btn-light btn-round">Button Text</a>
        <a href="#" class="btn btn-light btn-square">Button Text</a>
      </p>
      <p>
        <a href="#" class="btn btn-light btn-lg">Button Text</a>
        <a href="#" class="btn btn-light btn-sm">Button Text</a>
        <a href="#" class="btn btn-light btn-navlink">Button Text</a>
      </p>
      <p>
        <a href="#" class="btn btn-outline-primary">Button Text</a>
        <a href="#" class="btn btn-outline-primary btn-round">Button Text</a>
        <a href="#" class="btn btn-outline-primary btn-square">Button Text</a>
      </p>
      <p>
        <a href="#" class="btn btn-outline-primary btn-lg">Button Text</a>
        <a href="#" class="btn btn-outline-primary btn-sm">Button Text</a>
        <a href="#" class="btn btn-outline-primary btn-navlink">Button Text</a>
      </p>
      <p>
        <a href="#" class="btn btn-outline-secondary">Button Text</a>
        <a href="#" class="btn btn-outline-secondary btn-square">Button Text</a>
        <a href="#" class="btn btn-outline-secondary btn-round">Button Text</a>
      </p>
      <p>
        <a href="#" class="btn btn-outline-secondary btn-lg">Button Text</a>
        <a href="#" class="btn btn-outline-secondary btn-sm">Button Text</a>
        <a href="#" class="btn btn-outline-secondary btn-navlink">Button Text</a>
      </p>
      <p>
        <a href="#" class="btn btn-outline-light">Button Text</a>
        <a href="#" class="btn btn-outline-light btn-round">Button Text</a>
        <a href="#" class="btn btn-outline-light btn-square">Button Text</a>
      </p>
      <p>
        <a href="#" class="btn btn-outline-light btn-lg">Button Text</a>
        <a href="#" class="btn btn-outline-light btn-sm">Button Text</a>
        <a href="#" class="btn btn-outline-light btn-navlink">Button Text</a>
    </div>
  </body>
</html>
