// Generate styles for pagination.
@import '../../scss/init';

// This will prevent the slick font from being loaded.  The font is not needed
// since we are using icons for arrows.
$slick-font-family: 'serif';

@import 'slick-carousel/slick/slick.scss';
@import 'slick-carousel/slick/slick-theme.scss';


.slider_header {
  margin-bottom: 2rem;
}

// @todo make class names consistent.
.slick-slide {

  .slide-media {
    --slide-media-padding-y: 6px;
    margin: 0 var(--slide-media-padding-y);

    @include media-breakpoint-up(md) {
      --slide-media-padding-y: 10px;
    }

    @include media-breakpoint-up(lg) {
      --slide-media-padding-y: 12px;
    }

    > img {
      height: 200px;

      @include media-breakpoint-up(md) {
        height: 300px;
      }

      @include media-breakpoint-up(lg) {
        height: 350px;
      }

      @include media-breakpoint-up(xl) {
        height: 480px;
      }
    }
  }

  &:not(.slick-active) {
    .slide-media {
      position: relative;

      &:before {
        box-sizing: border-box;
        content: '';
        position: absolute;
        height: 100%;
        width: calc(100% - (var(--slide-media-padding-y) * 2));
        top: 0;
        left: 0;
        background-image: linear-gradient(360deg, rgba($pa-link, 0.8) 0%, rgba($beaver-blue, 0.8) 50%, rgba($pa-potential, 0.8) 100%);
      }
    }
  }
}

.slick-arrow {
  outline: none;
  height: fit-content;
  padding: 5px;
  cursor: pointer;
  border-radius: 100%;
  border-width: 2px;
  border-style: solid;
  border-color: $white;
  box-shadow: rgba($pa-potential, 0.063) 0px 4px 8px 0px;
  width: fit-content;
  background-color: $nittany-navy-light;

  &:hover {
    background-color: $nittany-navy;
  }

  > span {
    display: block;
    width: 16px;
    height: 16px;

    @include media-breakpoint-up(md) {
      width: 20px;
      height: 20px;
    }

    @include media-breakpoint-up(lg) {
      width: 24px;
      height: 24px;
    }

    @include media-breakpoint-up(xl) {
      width: 28px;
      height: 28px;
    }
  }

  &:before {
    content: unset;
  }
}

.slick-prev {
  left: 5%;
  z-index: 100;
  padding: 6px 7px 6px 5px;
}

.slick-next {
  right: 5%;
  z-index: 100;
  padding: 6px 5px 6px 7px
}

.slider--captions {
  flex-direction: row;
  margin-top: $spacer * 1.25;

  @include media-breakpoint-up(md) {
    margin-top: $spacer * 1.5;
  }

  .slick-list {
    padding: 0 !important;
  }
}

.slick-dots-container {
  position: relative;
  margin-top: $spacer * 1.25;
  margin-bottom: calc(($spacer * 2) + 25px);

  @include media-breakpoint-up(md) {
    margin-top: $spacer * 1.5;
  }
}

.slick-dots {
  li button:before {
    color: $pa-slate-light;
    width: 24px;
    height: 24px;
    line-height: 24px;
    font-size: 47px;

    &:hover {
      color: $pa-slate;
    }
  }

  li.slick-active {
    button:before {
      color: $beaver-blue;
    }
  }
}

.text-slider {

  .slick-slide {
    padding: $spacer 0;
    // text-align: center;

    @include media-breakpoint-up(md) {
      padding: $spacer 75px;
    }

    @include media-breakpoint-up(lg) {
      padding: $spacer 100px;
    }

    .slide-media:before {
      background: transparent;
    }
  }

  .slick-arrow {
    &.slick-prev {
      left: 0;
    }

    &.slick-next {
      right: 0;
    }

    @include media-breakpoint-down(md) {
      display: none !important;
    }
  }
}

.text-slider--blockquote {
  .blockquote {
    padding-left: var(--blockquote-padding);
    padding-right: var(--blockquote-padding);

    @include media-breakpoint-up(md) {
      &.blockquote--with-image:before {
        left: calc(var(--blockquote-image-size) - var(--blockquote-padding));
      }

      &:not(.blockquote--with-image) {
        padding-left: calc(var(--blockquote-image-size) + var(--blockquote-padding));

        &:before {
          left: calc(var(--blockquote-image-size) - var(--blockquote-padding));
        }
      }
    }
  }
}
