// Generate styles for pagination.
@import '../../scss/init';

@import 'slick-carousel/slick/slick.scss';
@import 'slick-carousel/slick/slick-theme.scss';

// @todo use variables
// @todo make class names consistent.

.slick-slide {

  img {
    height: 200px;

    @include media-breakpoint-up(md) {
      height: 300px;
    }

    @include media-breakpoint-up(lg) {
      height: 350px;
    }

    @include media-breakpoint-up(xl) {
      height: 480px;
    }
  }

  .slide-media {
    --slide-media-padding-y: 6px;
    margin: 0 var(--slide-media-padding-y);

    @include media-breakpoint-up(md) {
      --slide-media-padding-y: 10px;
    }

    @include media-breakpoint-up(lg) {
      --slide-media-padding-y: 12px;
    }
  }

  &:not(.slick-active) {
    .slide-media {
      position: relative;

      &:before {
        box-sizing: border-box;
        content: '';
        position: absolute;
        height: 100%;
        width: calc(100% - (var(--slide-media-padding-y) * 2));
        top: 0;
        left: 0;
        // @todo use color variables.
        background-image: linear-gradient(360deg, rgba(0, 95, 169, 0.8) 0%, rgba(30, 64, 124, 0.8) 50%, rgba(0, 30, 68, 0.8) 100%);
      }
    }
  }
}

.slick-arrow {
  outline: none;
  height: fit-content;
  padding: 5px;
  cursor: pointer;
  border-radius: 100%;
  border-width: 2px;
  border-style: solid;
  border-color: $white;
  box-shadow: rgba(0, 3, 33, 0.063) 0px 4px 8px 0px;
  width: fit-content;
  background-color: $nittany-navy-light;

  &:hover {
    background-color: $nittany-navy;
  }

  > span {
    display: block;
    width: 16px;
    height: 16px;

    @include media-breakpoint-up(md) {
      width: 20px;
      height: 20px;
    }

    @include media-breakpoint-up(lg) {
      width: 24px;
      height: 24px;
    }

    @include media-breakpoint-up(xl) {
      width: 28px;
      height: 28px;
    }
  }

  &:before {
    content: unset;
  }
}

.slick-prev {
  left: 5%;
  z-index: 100;
  padding: 6px 7px 6px 5px;
}

.slick-next {
  right: 5%;
  z-index: 100;
  padding: 6px 5px 6px 7px
}

.slider--captions {
  flex-direction: row;
  margin-top: 1.25rem;

  @include media-breakpoint-up(md) {
    margin-top: 1.5rem;
  }

  .slick-list {
    padding: 0 !important;
  }
}

.slick-dots-container {
  position: relative;
  margin-top: $spacer * 1.25;

  @include media-breakpoint-up(md) {
    margin-top: $spacer * 1.5;
  }
}

.slick-dots {
  li button:before {
    color: $pa-slate-light;
    width: 24px;
    height: 24px;
    line-height: 24px;
    font-size: 47px;

    &:hover {
      color: $pa-slate;
    }
  }

  li.slick-active {
    button:before {
      color: $beaver-blue;
    }
  }
}
