<div class="slider" id="slider">
  <div class="slider__track">
    <div class="slider__item">
      <h2 class="slider__title">Not the title</h2>
    </div>
  </div>
</div>

<psul-slider title="{{ title }}" slides='{{ slides|json_encode|raw }}'></psul-slider>
