// Generate styles for pagination.
@import '../../scss/init';

.alert-banner {
  background-color: $pa-sky-max-light;
  color: var(--bs-body-color);
  &__urgent {
    background-color: var(--bs-warning-bg-subtle);
  }

  &__nonEmergency {
    background-color: $pa-sky-max-light;
  }

  &__immediate {
    background-color: var(--bs-danger-bg-subtle);
  }

  &__allClear {
    background-color: var(--bs-success-bg-subtle);
  }
}

.alert-banner {
  &--button {
    width: 100%;
    position: relative;
    padding-left: 0;
    text-decoration: underline;

    &.btn-link {
      display: flex;
      color: var(--bs-body-color);
      text-transform: uppercase;
      padding-left: 0;
      padding-right: 0;
      font-weight: $font-weight-medium;

      &:hover,
      &:active,
      &:first-child:active {
        text-decoration: none;
        color: var(--bs-body-color);
      }
    }

    .psul-icon {
      flex-shrink: 0;
      margin-right: 1rem;

      svg {
        vertical-align: baseline;
      }
    }

    &:after {
      flex-shrink: 0;
      width: 1.25rem;
      height: 1.25rem;
      margin-top: 4px;
      margin-left: auto;
      content: "";
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23212529' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='M2 5L8 11L14 5'/%3e%3c/svg%3e");
      background-repeat: no-repeat;
      background-size: 1.25rem;
      transition: transform 0.2s ease-in-out;
    }

    &:not(.collapsed):after {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23052c65' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='M2 5L8 11L14 5'/%3e%3c/svg%3e");
      transform: rotate(-180deg);
    }
  }

  &--content {
    font-size: $font-size-sm;
  }

  &--footer {
    font-size: .75rem;
  }
}
