.label-with-icon {
  display: flex;
  align-items: flex-start;
  column-gap: 1rem;
  flex-wrap: nowrap;

  &__icon {
    flex-shrink: 0;

    svg {
      height: 28px;
      width: auto;
      vertical-align: bottom;
    }
  }

  &__content-wrapper {
    display: flex;
    flex-direction: column;
  }

  &__label {
    margin-bottom: 0;
    font-size: 1.375rem;
  }

}
