@import '../../scss/init';

footer {
  padding: $footer-padding;
  background: $nittany-navy;
  font-family: $font-family-condensed;
  font-size: $font-size-sm;

  @include make-link($light, none, $light, underline);

  .region-footer {
    display: flex;
    flex-direction: column;
  }

  .site-logo img {
    height: 52px;
  }

  .nav-link,
  a {
    color: $pa-link-light;
    padding-left: 0;
    line-height: calc(var(--bs-body-line-height) * .75);

    &:hover {
      color: $pa-link-light;
    }

    &:active {
      color: $lions-roar-light;
    }
  }

  // Color contrast between copy and link texts are too low so I added a
  // underline to these links. Changing color and style to make it less
  // intrusive.
  p {
    @include make-link($pa-link-light, underline, $pa-link-light, underline);

    a {
      text-decoration-style: dotted;
      text-decoration-color: rgba($pa-link-light, 75%);
    }

    a:not(:link) {
      text-decoration-style: solid;
      text-decoration-color: $pa-link-light;
    }
  }

  .list-inline {

    .list-inline-item {
      &:after {
        padding-left: $list-inline-padding;
        content: "|"
      }

      &:last-child:after {
        content: none;
        padding-left: 0;
      }

    }
  }

  .block-social-media-links {

    a {
      color: $white;
    }

    a:hover {
      color: $pa-link-light;
    }
  }

  .menu--footer .row {
    // Removing extra margin from last 2 footer menu sections.
    .col:nth-last-child(2),
    .col:last-child {
      margin-bottom: 0 !important;
    }
  }
}
