@import '../../scss/init';

.psuflex-fed-footer {
  background-color: $beaver-blue;
  color: $white;
  padding: 1.25rem 0;
  font-family: $font-family-condensed;
  font-size: 0.875rem;
  @include make-link($white-out, none, $white-out, underline);

  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.75rem;
    justify-items: center;
    row-gap: 1rem;

    // 768
    @include media-breakpoint-up(md) {
      grid-template-columns:repeat(8, 1fr);
      gap: 1rem;
      row-gap: 1.25rem;
    }

    // 992
    @include media-breakpoint-up(lg) {
      grid-template-columns:repeat(12, 1fr);
      gap: 1.25rem;
      justify-items: start;
      row-gap: 0rem;
    }

    // 1200
    @include media-breakpoint-up(xl) {
      grid-template-columns:repeat(12, 1fr);
      gap: 1.75rem;
    }
  }


  &__links {
    flex-wrap: nowrap;

    grid-column: 1/-1;

    @include media-breakpoint-up(lg) {
      grid-column:1/10;
    }

    & > ul {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      list-style: none;
      width: fit-content;
      justify-content: center;
      column-gap: 1rem;
      row-gap: 0.5rem;
      padding: 0;
      margin: 0;

      @include media-breakpoint-up(lg) {
        justify-content: flex-start;
        column-gap: 1.25rem;
      }
    }
  }

  &__copyright {
    flex-wrap: nowrap;
    grid-column: 1/-1;
    justify-self: auto;

    a {
      flex-wrap: nowrap;
    }

    @include media-breakpoint-up(lg) {
      grid-column:10/-1;
      justify-self: end;
    }
  }

}
