// Adding styles to using bootstrap icons for file fields.

/* File icons. */

.file {
    display: inline-block;
    min-height: 16px;
    padding-left: 20px;
    /* LTR */
    background-repeat: no-repeat;
    background-position: left center;
    /* LTR */
}

[dir="rtl"] .file {
    padding-right: 20px;
    padding-left: inherit;
    background-position: right center;
}

// Not all bootstrap icons are available in the SVG version, if additional
// icons are needed, then the webpack.mix.js file will need to be updated
// to include the additional icon files in the build process.
.file--general,
.file--application-octet-stream {
    background-image: url(../../dist/bootstrap-icons/icons/file.svg);
}

.file--package-x-generic {
    background-image: url(../../dist/bootstrap-icons/icons/file.svg);
}

.file--x-office-spreadsheet {
    background-image: url(../../dist/bootstrap-icons/icons/file-spreadsheet-fill.svg);
}

.file--x-office-document {
    background-image: url(../../dist/bootstrap-icons/icons/file-word-fill.svg);
}

.file--x-office-presentation {
    background-image: url(../../dist/bootstrap-icons/icons/file-spreadsheet-fill.svg);
}

.file--text-x-script {
    background-image: url(../../dist/bootstrap-icons/icons/file-text-fill.svg);
}

.file--text-html {
    background-image: url(../../dist/bootstrap-icons/icons/filetype-html.svg);
}

.file--text-plain {
    background-image: url(../../dist/bootstrap-icons/icons/file-text-fill.svg);
}

.file--application-pdf {
    background-image: url(../../dist/bootstrap-icons/icons/file-pdf-fill.svg);
}

.file--application-x-executable {
    background-image: url(../../dist/bootstrap-icons/icons/filetype-exe.svg);
}

.file--audio {
    background-image: url(../../dist/bootstrap-icons/icons/filetype-mp3.svg);
}

.file--video {
    background-image: url(../../dist/bootstrap-icons/icons/camera-video-fill.svg);
}

.file--text {
    background-image: url(../../dist/bootstrap-icons/icons/file-text-fill.svg);
}

.file--image {
    background-image: url(../../dist/bootstrap-icons/icons/image-fill.svg);
}
