@import '../init';

/**
 * Styles for layout built pages.
 */
.layout-builder-content .region-content {
  // Resetting padding that is applied in .region-content in base/_structure.scss
  margin-bottom: 0;
}


.layout {
  &:not(:first-child) {
    margin-top: 1.5rem;

    @include media-breakpoint-up(md) {
      margin-top: 2rem;
    }
  }

  &:last-child:not(.full-bleed) {
    margin-bottom: 1.5rem;

    @include media-breakpoint-up(md) {
      margin-bottom: 2rem;
    }
  }
}

// We are using margin-top as the spacer so we can use the sibling selector
// to remove the margin between two full-bleed layouts.
.layout.full-bleed + .layout.full-bleed {
  margin-top: 0 !important;
}


.psul-three-column {
  .psul-layout-column--left {
    @include media-breakpoint-up(md) {
      border-right: 1px solid var(--bs-border-color);
    }
  }

  .psul-layout-column--center {
    border-top: 1px solid var(--bs-border-color);
    padding-top: 2rem;
    margin-top: 2rem;

    @include media-breakpoint-up(md) {
      border-top: none;
      padding-top: 0;
      margin-top: 0;
    }

    @include media-breakpoint-up(lg) {
      border-right: 1px solid var(--bs-border-color);
    }
  }

  .psul-layout-column--right {
    border-top: 1px solid var(--bs-border-color);
    padding-top: 2rem;
    margin-top: 2rem;

    @include media-breakpoint-up(lg) {
      border-top: none;
      padding-top: 0;
      margin-top: 0;
    }
  }
}
