@import '../init';

.block-local-tasks-block {
  display: none;
}

.layout-builder__link--add {
  font-size: 14px !important;
  padding: calc(.75em - 2px) calc(1.25em - 2px) !important;
  background-color: $white-out !important;
}

.layout-builder__add-section > .layout-builder__link--add {
  border-color: $valchar-grey !important;
  color: $valchar-grey !important;
}

.gin--horizontal-toolbar .glb-sidebar {
  top: var(--drupal-displace-offset-top) !important;
  height: calc(100% - var(--drupal-displace-offset-top)) !important;
}

.layout-builder__section:not(.gin-lb--disable-section-focus):hover::after {
  margin-left: -1rem;
  width: calc(100% + 2rem);
  box-shadow: $box-shadow;
  border-style: dashed !important;
}

@include media-breakpoint-up(md) {
  [data-meta-sidebar="open"] .dialog-off-canvas-main-canvas {
    max-width: calc(100vw - var(--gin-sidebar-width) - 1rem);
  }
}

.glb-list {
  margin: 1rem 0;
  a {
    margin: 0 !important;
    padding-right: 2rem;
  }
}
