// Generate styles for pagination.
@import '../init';

// Override variables here:

// Import bootstrap nav and navbar styles.
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/dropdown";

// Additional Styles for navs and dropdowns.
.dropdown-toggle,
.dropdown-item {
  text-wrap: wrap;
}

.navbar {
  flex-direction: column;
}

// Using default outline nav links.
// @see https://github.com/twbs/bootstrap/blob/0a56558b5fd34f8e11167202ed7bdca4f6a77d2f/scss/_nav.scss#L41
.nav-link {
  padding-left: $navbar-nav-link-padding-x;
  padding-right: $navbar-nav-link-padding-x;

  &:focus-visible {
    outline: revert;
    box-shadow: none;
  }
}
