{% if content %}
  <div {{ attributes.addClass('psul-one-column') }}>
    {% if content.main %}
      <div {{ region_attributes.main.addClass(main_class) }}>
        {{ content.main }}
      </div>
    {% endif %}
  </div>
{% endif %}
