footer {
  padding: $footer-padding;
  background: linear-gradient(180deg, $nittany-navy-light 0, $nittany-navy 65%, $nittany-navy 100%);
  font-family: "Roboto Condensed", Impact, "Franklin Gothic Bold", sans-serif;
  font-size: $font-size-sm;

  @include make-link($light, none, $light, underline);

  .region-footer {
    display: flex;
    flex-direction: column;
  }

  .site-logo img {
    height: 52px;
  }

  .nav-link,
  a {
    color: $pa-slate-light;
    padding-left: 0;
    line-height: calc(var(--bs-body-line-height) * .75);

    &:hover {
        color: $pa-slate-light;
    }

    &:active {
        color: $lions-roar-light;
    }
  }

  .list-inline {

    .list-inline-item {
      &:after {
        padding-left: $list-inline-padding;
        content: "|"
      }

      &:last-child:after {
        content: none;
        padding-left: 0;
      }

    }
  }

  .block-social-media-links {

    a {
      color: $pa-sky-light;
    }

    a:hover {
      color: $pa-sky-max-light;
    }
  }

  .menu--footer .row {
    // Removing extra margin from last 2 footer menu sections.
    .col:nth-last-child(2),
    .col:last-child {
      margin-bottom: 0 !important;
    }
  }
}