footer {
  padding: $footer-padding;
  background: linear-gradient(180deg, $nittany-navy-light 0, $nittany-navy 65%, $nittany-navy 100%);
  font-family: "Roboto Condensed", Impact, "Franklin Gothic Bold", sans-serif;
  font-size: $font-size-sm;

  @include b5-make-link($light, none, $light, underline);

  .region-footer {
    display: flex;
    flex-direction: column;
  }

}