.full-bleed {
  // Setting this to transparent so it does nohthing unless a color is set.
  --full-bleed-bg-color: transparent;

  box-shadow: 0 0 0 100vmax var(--full-bleed-bg-color);
  clip-path: inset(0 -100vmax);
  background-color: var(--full-bleed-bg-color);
  padding: $spacer 0;
}

.full-bleed--slate-light {
  --full-bleed-bg-color: #{$pa-slate-max-light};
}

.full-bleed--limestone-light {
  --full-bleed-bg-color: #{$pa-limestone-max-light};
}

.full-bleed--navy {
  @include light-text;
  --full-bleed-bg-color: #{$nittany-navy};
}
