// Add styles specific to the header.
header {

    .navbar-toggler {
        color: $white-out;
        border: var(--bs-border-width) solid rgba(255, 255, 255, 0.15);
    }

    .nav-item {
        font-family: "Roboto Condensed", sans-serif;
    }

    .navbar-nav {

        .nav-link,
        .nav-link.active,
        .nav-link.show {
            color: $white-out;
        }

        .nav-link:hover {
            color: $pa-sky-light;
            text-shadow: -0.25px -0.25px 0 $pa-sky-light, 0.25px 0.25px $pa-sky-light;
        }
    }
}