.node-preview-container {
  background-color: $white;
  .node-preview-backlink {
    @extend .btn;
    @extend .btn-outline-primary !optional;
  }

  .form-type-select {
    margin: 0;
  }
}

@include media-breakpoint-up('md') {
  .region-nav-branding,
  .region-nav-additional {
    flex-shrink: 0;
  }
}

// Add a max width the container-fluid and increasing padding on larger
// displays.
.container-fluid {
  max-width: calc(map-get($container-max-widths, xxl) + 3rem);
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  @include media-breakpoint-up(md) {
    max-width: calc(map-get($container-max-widths, xxl) + 6rem);

    padding-left: 3rem;
    padding-right: 3rem;
  }
}
