/**
 * Link Style customization.
 */

a {

    &:active {
        color: $nittany-navy;
    }
}

// Links are dark backgrounds.
.text-light {

    a {
        color: $pa-link-light;

        &:hover {
            color: $pa-link-light;
        }

        &:active {
            color: $lions-roar-light;
        }
    }
}
