// @file
  
  @mixin float-and-wrap($direction: right) {
    float: $direction;
  
    //  @media #{$small-up} {
    @if $direction == 'right' { margin: 0 0 $column-gutter $column-gutter; }
  
    @if $direction == 'left' { margin: rem-calc(6 15 10 0); padding-top: 0; }
    //}
  }
  
  @mixin center-image() {
    display: block;
    margin: $column-gutter auto;
  }
  
  // Placeholder text styling
  @mixin placeholder {
    ::-webkit-input-placeholder { @content; }
    :-moz-placeholder { @content; }
    ::-moz-placeholder { @content; }
    :-ms-input-placeholder { @content; }
  }
  
  @mixin highlight {
    background-color: $attn-yellow;
    color: #0f1321;
  }
  
  @mixin acc-clip {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
  }
  
  @mixin fa-fw {
    width: (18em / 14);
    text-align: center;
    display: inline-block;
  }
  
  @mixin deflatten {
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    border-radius: $global-radius;
  }
  
  @mixin ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  
  @mixin word-wrap {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    //word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }