.region-title__action {
  a {
    &.button {
      @include button-variant($primary, $primary);
    }
  }
}

tr {
  &.region-title {
    --#{$variable-prefix}table-bg: #{$light};

    td {
      --#{$variable-prefix}table-bg: #{$light};
    }
  }
}

/**
 * Left sidebar styles.
 */
.region-sidebar-first {

  >div {
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

}

/**
 * Content Region Styles
 */
.region-content {
  margin-bottom: $spacer * 1.5;

  @include media-breakpoint-up ('lg') {
    margin-bottom: $spacer;
  }
}
