/**
 * Region title styles.
 */
.region-title__action {
  a {
    &.button {
      @include button-variant($primary, $primary);
    }
  }
}

tr {
  &.region-title {
    --#{$variable-prefix}table-bg: #{$light};

    td {
      --#{$variable-prefix}table-bg: #{$light};
    }
  }
}

/**
 * Sidebar styles.
 */
.region-sidebar-first, .region-sidebar-second {

  .block {
    &:not(:last-child) {
      margin-bottom: $spacer * 1.5;
    }

    & > h2 {
      font-family: $font-family-condensed;
      font-size: $font-size-lg;
      text-transform: uppercase;
    }
  }

}

/**
 * Content Region Styles
 */
.region-content {
  margin-bottom: $spacer * 1.5;

  @include media-breakpoint-up ('lg') {
    margin-bottom: $spacer;
  }
}
