.font-size-sm {
  font-size: $small-font-size;
}

.font-size-l {
  font-size: $font-size-lg;
}

.font-size-xl {
  font-size: $font-size-base * 1.5;
}

ul.list-2-col,
ol.list-2-col {
  @include media-breakpoint-up('md') {
    columns: 2;
    column-gap: $spacer * 2;

    li {
      break-inside: avoid-column;
    }
  }
}

a.more-link {
  float: right;
}

// Heading style overrides.
h1, .h1 {
  font-family: $font-family-slab;
  line-height: $headings-line-height;

  &.page-title {
    margin-bottom: $spacer * 1.5;
  }
}

h2, .h2 {
  margin-bottom: $spacer;
}

p:last-child {
  margin-bottom: 0;
}

blockquote {
  --blockquote-padding: calc(#{$spacer} * 2);
  font-size: calc(#{$font-size-base} * 1.125);
  background-color: $primary;
  padding: var(--blockquote-padding);
  @include light-text;
  position: relative;

  @include media-breakpoint-up(md) {
    font-size: calc(#{$font-size-base} * 1.25);
    padding: var(--blockquote-padding) calc(var(--blockquote-padding) * 4);

  }

  @include media-breakpoint-up(lg) {
    padding-left: calc(var(--blockquote-padding) * 5);
    & > * {
      max-width: 960px;
    }
  }

  &:before {
    content: '';
    display: block;
    width: 50px;
    height: 44px;
    background-repeat: no-repeat;
    background-image: url(../../assets/icons/psu_inverted_quote.svg);

    @include media-breakpoint-up(lg) {
      position: absolute;
      top: 25px;
      left: calc(var(--blockquote-padding) * 3);
    }
  }

  &.blockquote-light {
    background-color: $pa-slate-max-light;
    @include dark-text;
  }
}
