
// Theme Colors
$warm-blue: #6888c2; // body anchors
$navy-blue: #2c76c7; // darker blue for backgrounds
$pale-blue: #b8d1ff; // used in the Ask page for rollover bg
$off-white: #fafafa; // page background
$valchar-white: #fefefe; // used on the homepage font color for Research Help and Tools
$off-off-white: darken($off-white, 10%); // used in collection panes
$attn-yellow: #ebc100; // attention grabbing yellow
$midnight-blue: #0a0f15; // high alert links color
$valchar-blue: #2b76c7; // used on the background color of buttons on the homepage for Research Help and Tools
$subtle-gray: #b5b5b5;
$valchar-grey: #363636; // used on the homepage background for Research Help and Tools
$valchar-light-grey: #f2f2f2; // used on the homepage background for Expert Help

$light-blue: #356ed7; // top-bar buttons
$psu-light-blue: rgb(150, 190, 230);

$primary-color: $navy-blue;
$body-font-color: #000000;
$topbar-bg: $navy-blue;
$topbar-dropdown-bg: $navy-blue;
$topbar-dropdown-link-bg: $navy-blue;
$topbar-link-bg-hover: $navy-blue;
$anchor-font-color-hover: scale-color($primary-color, $lightness: -50%);
