@import '../../scss/init';

// Add custom media styles.
@include media-breakpoint-up('lg') {
  .align-center {
    max-width: 90%;
  }
}

.align-left,
.align-right {
  max-width: 50%;
}

// Remote video adds `ratio` classes to fix the aspect ratio in a responsive
// manner. This required widths NOT max-widths.
// @see https://getbootstrap.com/docs/5.3/helpers/ratio/
.media--type-remote-video {
  &.align-left,
  &.align-right {
    max-width: none;
    width: 100%;
  }

  @include media-breakpoint-up('md') {
    &.align-left,
    &.align-right {
      width: 50%;
    }
  }
}
