@import '../../scss/init';

.news-cards {
  padding: ($spacer * 2) 0;

  @include media-breakpoint-up(md) {
    padding: ($spacer * 3) 0;
  }

  &__header {
    margin-bottom: $spacer * 2;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: $spacer * 1.5;

    @include media-breakpoint-up(md) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include media-breakpoint-up(lg) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__card {
    position: relative;
    display: flex;
    flex-flow: column;
    gap: $spacer;
  }

  &__card-title {
    font-size: $font-size-base;
    @include make-link($link-color, none, $link-hover-color, underline);
    margin-bottom: 0;

    @include media-breakpoint-up(md) {
      font-size: $font-size-lg;
    }
  }

  &__card-date {
    font-weight: 700;
  }

  &__cta {
    margin-top: $spacer * 2;
    text-align: center;
  }

}
