@use "sass:math";
@import '../../scss/init';

.fact-tiles {
  padding: 2rem;

  @include media-breakpoint-up(md) {
    padding: 3rem;
  }
}

.fact-tiles__tiles {
  display: flex;
  flex-direction: column;
  height: 100%;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  padding-left: 0;
  padding-right: percentage(math.div(1, 12));

  @include media-breakpoint-up(md) {
    padding-left: percentage(math.div(1, 12));
  }

  @include media-breakpoint-up(lg) {
    padding-left: 0;
    padding-right: 0;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: .625rem;
    row-gap: 2rem;
    justify-content: center;

    > .divider:nth-child(3n) {
      display: none;
    }
  }

  @include media-breakpoint-up(xl) {
    column-gap: .875rem;
    row-gap: 3rem;
  }
}

.fact-tiles__tile {
  width: 100%;
  padding: 0 0;

  @include media-breakpoint-up(md) {
    padding: 1.25rem 1rem;
  }

  @include media-breakpoint-up(lg) {
    width: #{'calc((100%/3) - 20px)'};
    padding: 1.25rem 1.25rem;
  }
}

.fact-tiles__tile-stat {
  font-size: 3rem;

  @include media-breakpoint-up(sm) {
    font-size: 3.5rem;
  }

  @include media-breakpoint-up(xl) {
    font-size: 4rem;
  }
}

.fact-tiles__header {
  margin-bottom: 2rem;
}

.fact-tiles__tile-title {
  font-weight: bold;
}

.fact-tiles__tile-description {
  margin-top: 0.75rem;
  font-style: italic;
}


.fact-tiles__cta {
  margin-top: 2rem;
  text-align: center;
}

.full-bleed {
  .fact-tiles {
    padding-left: 0;
    padding-right: 0;
  }
}
