{#
/**
 * @file
 * Template for Alert component.
 *
 * Available config:
 * - type: primary | secondary | success | danger | warning | info | light | dark
 * - heading: string,
 * - dimissible: true | false
 * - alert_utility_classes: An array of utility classes.
 */
#}
{% set attributes = attributes ?: create_attribute() %}
{% set type = type is empty ? 'primary' : type %}
{% set dismissible = dismissible is empty ? '' : 'alert-dismissible' %}
{% set alert_classes = alert_utility_classes is iterable ? alert_utility_classes : [alert_utility_classes] %}

{%
set alert_classes = alert_classes|merge([
  'alert',
  'alert-' ~ type,
  dismissible,
  'fade',
  'show',
])
%}

<div {{ attributes.addClass(alert_classes) }} role="alert">
	{% block alert_heading %}
		{% if heading %}
			<h4 class="alert-heading">{{ heading }}</h4>
		{% endif %}
	{% endblock %}

	{% block content %}
		{{ content }}
	{% endblock %}

	{% if dismissible %}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	{% endif %}
</div>
