{% set classes = [
  'psul-icon',
  'psul-icon--' ~ icon,
  'psul-icon--' ~ color|default('black'),
]|join(' ') %}

{# Using componentMetadata.path to ensure that icons work in storybook and drupal. #}
<span class="{{ classes }}">
  {{ source(componentMetadata.path ~ '/assets/' ~ icon ~ '.svg') }}
</span>
