{% set classes = [
  'psul-icon',
  'psul-icon--' ~ icon,
  'psul-icon--' ~ color|default('black'),
  'psul-icon--size-' ~ size|default('fixed-24'),
]|join(' ') %}

<span class="{{ classes }}">
  {% if componentMetadata.path starts with 'themes/' %}
    {# Using componentMetadata.path to ensure that icons work in drupal. #}
    {{ source(componentMetadata.path ~ '/../../assets/icons/' ~ icon ~ '.svg') }}
  {% else %}
    {# For storybook we want to pull the icons from the publicDir (assets)
    since the componentMetadata.path is not always set and may point to the
    wrong location when build-storybook is run. #}
    {{ source('/icons/' ~ icon ~ '.svg') }}
  {% endif %}
</span>
