@use "sass:map";
@import '../../scss/init';

.dynamic-hero {
  padding-top: $spacer * 2;
  padding-bottom: $spacer * 5;
  font-size: 1.125rem;

  @include media-breakpoint-up(md) {
    font-size: 1.25rem;
    padding-top: $spacer * 2.5;
    padding-bottom: $spacer * 2.5;
  }

  @include media-breakpoint-up(lg) {
    font-size: 1.375rem;
    padding-top: $spacer * 3.75;
    padding-bottom: $spacer * 3.75;
  }

  &--light {
    background-image: linear-gradient(360deg, rgb(230, 247, 255) 0%, rgb(230, 247, 255) 60%, rgb(204, 240, 255) 100%);
  }

  &--dark {
    @include light-text;
    background: linear-gradient(360deg, rgba(0, 30, 68, 0.9) 0%, rgba(30, 64, 124, 0.9) 60%, rgba(0, 95, 169, 0.9) 100%);
  }

  &--image {
    @include light-text;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &:before {
      content: "";
      height: 100%;
      width: 100%;
      display: block;
      position: absolute;
      background-color: rgba($beaver-blue, 0.7);
      z-index: 10;
      top: 0px;
    }

    .dynamic-hero__container {
      z-index: 11;
    }
  }

  &__eyebrow {
    div {
      font-weight: $font-weight-medium;
      padding-bottom: $spacer * 0.25;
      text-transform: uppercase;

      @include media-breakpoint-up(md) {
        font-size: 1.375rem;
      }

      @include media-breakpoint-up(lg) {
        font-size: 1.5rem;
      }
    }

    .divider {
      margin-top: 0;
    }
  }

  &__title {
    font-size: 1.75rem;
    font-weight: $font-weight-bold;
    padding: 0;

    @include media-breakpoint-up(md) {
      font-size: 2.25rem;
    }

    @include media-breakpoint-up(lg) {
      font-size: 2.5rem;
    }
  }

  &__cta {
    margin-top: $spacer;
  }

  &__cta a {
    margin: 0 .25rem 0 0;
    --#{$prefix}btn-font-size: 1rem;
  }
}
