<blockquote class="blockquote">
  <div class="blockquote__quote">

  </div>
  <div class="blockquote__body">{{ body }}</div>
  {% if author or citation %}
    <cite class="blockquote__footer">
      {% if author %}
        <div class="blockquote__author">{{ author }}</div>
      {% endif %}

      {% if citation %}
        <div class="blockquote__citation">{{ citation }}</div>
      {% endif %}
    </cite>
  {% endif %}
</blockquote>
